body{
    background: url('../../images/blueviolet.jpg') no-repeat center fixed;
    background-size: cover;
    height: fit-content;
    margin: 0px;
    padding: 10px;
}

#logoimg{
    width: 40%;
    height: 30%;
    margin-left: 30%;
    
    
}


#btn_home , #btn_profile{
    margin-top: 10px;
    background-position: center center;
}

#content {
    margin-top: 10px;
    width: 1300px;
    height: fit-content;
    border: none
}



table{
    width: 100%;
}
td p{
    text-align: center;
}

#comp{
    border:1px solid black;
    width: 150px;
    height: 130px;
    margin-left: 600px;
    margin-top: -60px;
}



 #new_description{
    width: 200px;
    height: 100px;
    margin-left:230px;
    margin-top: -130px;
    min-width: 200px;
    min-height: 100px;
    max-width: 200px;
    max-height: 100px;
 }

 .action_window{
    background: url('../../images/greenblue.jpg') no-repeat center fixed;
    background-size: cover;
    position: fixed;
    display: none;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: fit-content;
    width: fit-content;
 }
