body{
    background: url('../../images/orangeyellow.jpg') no-repeat center fixed;
    background-size: cover;
    height: fit-content;
    margin: 0px;
    padding: 10px;
    font-family: cursive;
}


#first{
    display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-start;
	align-content: flex-start;
}

#logoimg{
    width: 40%;
    height: 30%;
    margin-left: 30%;
}

#divico{
    width: 33%;
    display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#divico img{
    width: 15%;
    margin: 10px;
}



#div_button{
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}

#btn_home , #btn_profile{
    margin-top: 10px;
   /* background-position: center center;*/
}

#content {
    margin-top: 10px;
    height: fit-content;
    border: none
}



table{
    width: 100%;
}
td p{
    text-align: center;
}

#comp{
    border:1px solid black;
    width: 150px;
    height: 130px;
    margin-left: 600px;
    margin-top: -60px;
}

 .action_window{
    background: url('../../images/greenblue.jpg') no-repeat center fixed;
    background-size: cover;
    position: fixed;
    display: none;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: fit-content;
    width: fit-content;
    padding: 2%;
    border: 1px solid black;
    border-radius: 10px;
 }

 .pbuttonwindow{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}
