#Home input[type= button]{
    margin-top:35px;
    margin-left: 20px;
}

.businesscard{
    width:  80%; 
    padding: 10px;
    border-radius: 40px;
    height: fit-content;
    margin-top: 10px;
    background-color: white;
    margin-left: 10%;
    
}

.businesscard table{
    width: 66%;
    float: left;
}

.businesscard p{
    height: fit-content;
    width: fit-content;
}

.compability{
    width: 20%;
    height: 80%;
    float: right;
    font-size: 30px;
    text-align: center;
    margin: 55px 0px;
    border-radius: 50px;
    margin-right: 30px;

}

#profile_window{
    width: 80%;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    margin-top: 20%;
}

#profile_window h1{
    text-align: center;
}

#send_message_window{
    width: 60%;
    position: fixed;
    height: fit-content;
    border:1px solid black;
    border-radius: 10px;
    padding: 30px;
 }
 
textarea{
    max-width: 90%;
    min-width: 90%;
    max-height: 120px;
    min-height: 120px;
    
    border-radius: 10px;
 }

 #province{
    border-radius: 20px;
    width: 120px;
 }

 #key{
     font-size: 10px;
     width: 120px;
 }

nav{
    background-color: rgb(255, 60, 0);
}

#inviomessaggio , #apriprofilo{
    margin-left: 50%;
}

#tabellainformazioni td {
    padding-top: 14px;
}

#navbarSupportedContent li {
    margin-left: 20px;
}

#agemax{
    margin-left: 10px;
}