#Home input[type= button]{
    margin-top:35px;
    margin-left: 20px;
}

nav{
    display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: stretch;
	align-content: stretch;
    background-color: rgb(255, 60, 0);
}

#navbar{
    padding: 10px;
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
    background-color: rgb(255, 60, 0);
}

#navbar .collaps{
    display: flex;
	flex-direction: row;
    align-items: center;
	align-content: stretch;
}

#navbar .param {
    width: fit-content;
    padding: 5px 10px;
}

#navbar p{
    font-weight: bolder;
}

#navbar input[type='button']{
    height: 70%;
}

#navbar #divimg{
    display: none;
}


#results_research{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}

.businesscard{
    width:  60%; 
    padding: 2%;
    border-radius: 40px;
    height: fit-content;
    margin-top: 2%;
    background-color: white;

    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: flex-start;
}


.businesscard .tabellainformazioni{
    width: 66%;
}

.businesscard .tabellainformazioni th, .tabellainformazioni td{
    padding: 5px
}

.businesscard p{
    height: fit-content;
    width: fit-content;
}

.businesscard .tabellaazioni{
    width: 34%;

    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
}

.tabellaazioni tr{
    height: 33%;
}

.tabellaazioni input{
    width: 100%;
    font-size: 80%;
}


.compability{
    width: 50%;
    height: 30%;
    font-size: 40px;
    /*text-align: center;*/
    padding: 2%;
    border-radius: 50px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.businesscard .btn-primary{
    background-color: rgb(255, 60, 0);
}

.businesscard .btn-secondary{
    background-color: #007bff;
}

#profile_window{
    width: 80%;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    margin-top: 20%;
}

#profile_window h1{
    text-align: center;
}

#send_message_window{
    width: 60%;
    position: fixed;
    height: fit-content;
    border:1px solid black;
    border-radius: 10px;
    padding: 30px;
 }
 
textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;    
    border-radius: 10px;
 }

 #province{
    border-radius: 20px;
    width: 120px;
 }

 #key{
     font-size: 10px;
     width: 120px;
 }

#navbarSupportedContent li {
    margin-left: 20px;
}

#agemax{
    margin-left: 10px;
}