#add_interest_window{
    height: fit-content;
}

#new_description{
    width: 200px;
    height: 100px;
    margin-left:230px;
    margin-top: -130px;
    min-width: 200px;
    min-height: 100px;
    max-width: 200px;
    max-height: 100px;
}

#set_window{
    border:  1px black solid;
    width: 200px;
    height: 80px;  
}