html{
    background: url(../../images/greenblue.jpg) no-repeat center fixed;
    background-size: cover;
}  

#titolo{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

#buttonin {
    margin-left: 100px;
    background-color: rgb(194, 194, 194);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 25px;
}
#tabellabella{
    margin-left:100px;
    border-spacing: 10px;
    text-align: left;
    
}
#interessi{

    margin-left: 700px;
    margin-top: -200px;
}

#bla{
    margin-left: 340px ;
    border: 1px solid black;
    width: 650px;
    height: 400px;
    border-radius: 10px;
    background-color: white;
    

}
#buttonin{
    margin-left: 250px;
    margin-top: 20px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius:  15px 50px;
    background: linear-gradient(to bottom, #f0730d 0%, #f1c914 100%);
}
#la{
    margin-left: 100px;
}