body{
    background: url('../../images/orangeyellow.jpg') no-repeat center fixed;
    background-size: cover;
    height: fit-content;
    padding: 10px;
}        

h1{
    text-align: center;
    text-decoration-style: double;
}


/* div di login*/
#accesso{
    padding: 30px;
    margin-left: 100px;
    border-style: dashed;
    border-color: darkgreen;
    background: url('../../images/greenblue.jpg');
}

/*bottone di registrazione*/
#registration_btn {
    margin-top: 100px;
    margin-left: 300px;
    font-size: 30px; 
    border-radius: 15px 40px;
    background-color: brown;
}




/*bottone di login*/
#loginbtn{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 15px 40px;
    background-color: darkblue;
}

/*div di ask*/
#feedback{
    padding: 10px;
    size: 5px;
    border-style: dashed;
    border-color: rgb(100, 15, 0);
    background: url(../../images/redyellow.jpg) ;
    background-size: cover;
}

#testopresentazionesito{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
}

#loginemail{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 20px;
}

#loginpassword{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 20px;
}

#mitt{
    border-radius: 10px;
    font-size: 10px;
}

#obj{
    border-radius: 10px;
    font-size: 10px;
}

#text{
    min-height: 150px;
    max-height: 150px;
    margin-top: 30px;
}

#titolo{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

#btnregistration {
    margin-left: 100px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 25px;
}

table{
    margin-left:100px;
    border-spacing: 10px;
    text-align: left;
}

#registration_window{
    margin-top: -550px;
    margin-left: 340px ;
    border: 1px solid black;
    width: 850px;
    height: 500px;
    border-radius: 10px;
    background-color: white;
    display: none;
    position: absolute;
}


#buttonback{
    margin-left: 350px;
    margin-top: -50px;
    font-size: 25px;
}

#la{
    margin-left: 100px;
}

#pp{
    margin-left: 20px;
    text-align: center;
    font-family: cursive;
}

#logoimg{
    width: 300px;
    height: 130px;
}

#regname{
    border-radius: 20px;
    
}

#regsurname{
    margin-left: 100px;
    border-radius: 20px;
    
}

#regyear{
    border-radius: 20px;
    
}

#regnickname{
    margin-left: 100px;
     border-radius: 20px;
}

#regpassword{
    border-radius: 20px;  
}

#regrepeatpassword{
    margin-left: 100px;
     border-radius: 20px;
}

#regemail{
    border-radius: 20px;  
}

#regprovincie{
    margin-left: 100px;
    border-radius: 20px;
}

#userlogo{
   background-attachment: fixed;
   width: 40px;
   height: 40px;
}

#psswlogo{
    background-attachment: fixed;
    width: 40px;
    height: 40px;
 }

 #send{
     margin-left: 200px;
     margin-top: 20px;
 }

 #pass{
    border-radius: 10px;
    font-size: 10px;
 }