body{
    background: url('../../images/orangeyellow.jpg') no-repeat center fixed;
    background-size: cover;
}        

h1{
text-align: center;
text-decoration-style: double;
}

#div_img{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

#logoimg{
    width: 60%;
    height: auto;
    
}

#testopresentazionesito{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 28px;
    padding: 2%
}

.campo{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: flex-start;
}

.pbuttonwindow{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

#div_windows{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
    padding: 2%;
}

/*****************************************LOGIN*********************************************************************/
/* div di login*/
#accesso{
    height: fit-content;
    padding: 2%;
    border-style: dashed;
    border-color: darkgreen;
    background: url('../../images/greenblue.jpg');
    width: 40%;
}

/*bottone di registrazione*/
#registration_btn {
font-size: 100%; 
border-radius: 15px 40px;
}


/*bottone di login*/
#loginbtn{
    margin-right: 5%;
    font-size: 100%;
    text-align: center;
    border-radius: 15px 40px;
}

/*div di ask*/
#ask{
    padding: 2%;
    border-style: dashed;
    border-color: rgb(100, 15, 0);
    background: url(../../images/redyellow.jpg) ;
    background-size: cover;
    width: 40%;
}

#ask input{
    margin: 2.5% 0px;
}

#loginemail{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 20px;

}

#loginpassword{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 20px;
}

#mitt{
    border-radius: 10px;
    font-size: 10px;
   
}

#obj{
    border-radius: 10px;
    font-size: 10px;
}

#text{
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
}

#titolo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

#btnregistration {
    color: rgb(0, 0, 0);
    text-align: center;
}

table{
    border-spacing: 10px;
    text-align: left;
    
}

.action_window{
    background: url('../../images/greenblue.jpg') no-repeat center fixed;
    background-size: cover;
    position: fixed;
    display: none;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: fit-content;
    width: fit-content;
    padding: 2%;
    border: 1px solid black;
    border-radius: 10px;
 }

#registration_window table th, #registration_window table td{
    padding: 2%;
}

#regpassword , #regemail , #regname , #regyear{
    border-radius: 20px;
    width: 100%;
   
}

#regnickname , #regrepeatpassword , #regprovincie , #regsurname{
     border-radius: 20px;
     width: 100%;
}


#userlogo, #psswlogo{
   height: 43px;
}

 #pass{
    border-radius: 10px;
    font-size: 10px;
 }